{%- comment -%}
  {%- include nav/main.html 
         page = page -%}
  outputs links for the main navigation. It also locates the current page in the
  navigation hierarchy, and assigns to the variables `nav_page_ancestors`,
  `nav_page_path`, and `nav_page_children`.
  
  `nav/main` first outputs the main navigation for pages not in any collection.
  It then outputs the main navigation for the pages in each collection (preceded
  by the name of the collection, unless all pages are in a single collection.)
{%- endcomment -%}

{%- assign pages_top_size = site.html_pages
    | where_exp:"item", "item.title != nil"
    | where_exp:"item", "item.parent == nil"
    | where_exp:"item", "item.nav_exclude != true"
    | size -%}
{%- if pages_top_size > 0 -%}
  {%- include nav/collection.html
        pages = site.html_pages
        key = nil
        page = include.page -%}
{%- endif -%}

{%- if site.just_the_docs.collections -%}
  {%- assign collections_size = site.just_the_docs.collections | size -%}
  {%- for collection_entry in site.just_the_docs.collections -%}

    {%- assign collection_key = collection_entry[0] -%}
    {%- assign collection_value = collection_entry[1] -%}
    {%- assign collection = site[collection_key] -%}
    {%- if collection_value.nav_exclude != true -%}
      {%- if collections_size > 1 or pages_top_size > 0 -%}
        {% if collection_value.nav_fold == true %}
          <ul class="nav-list nav-category-list">
            <li class="nav-list-item{% if page.collection == collection_key %} active{% endif %}">
              {%- if collection.size > 0 -%}
              <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
              {%- endif -%}
              <div class="nav-category">{{ collection_value.name }}</div>
              {%- include nav/collection.html
                    pages = collection
                    key = collection_key
                    page = include.page -%}
            </li>
          </ul>
        {% else %}
          <div class="nav-category">{{ collection_value.name }}</div>
          {%- include nav/collection.html
                pages = collection
                key = collection_key
                page = include.page -%}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}

  {%- endfor -%}

  {%- if site.nav_external_links -%}
    {%- if site.nav_external_links_category -%}
    <div class="nav-category">{{ site.nav_external_links_category }}</div>
    {%- endif -%}
    <ul class="nav-list">
    {%- assign nav_external_links = site.nav_external_links -%}
    {%- for node in nav_external_links -%}
      <li class="nav-list-item external">
        <a href="{{ node.url | absolute_url }}" class="nav-list-link external">
          {{ node.title }}
          {% unless node.hide_icon %}<svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title"><use xlink:href="#svg-external-link"></use></svg>{% endunless %}
        </a>
      </li>
    {%- endfor -%}
    </ul>
  {%- endif -%}

{%- endif -%}
