// Original highlighting of just-the-docs.
//
// // Moved from _sass/code.scss

// .highlight .c {
//   color: #586e75;
// } // comment //
// .highlight .err {
//   color: #93a1a1;
// } // error //
// .highlight .g {
//   color: #93a1a1;
// } // generic //
// .highlight .k {
//   color: #859900;
// } // keyword //
// .highlight .l {
//   color: #93a1a1;
// } // literal //
// .highlight .n {
//   color: #93a1a1;
// } // name //
// .highlight .o {
//   color: #859900;
// } // operator //
// .highlight .x {
//   color: #cb4b16;
// } // other //
// .highlight .p {
//   color: #93a1a1;
// } // punctuation //
// .highlight .cm {
//   color: #586e75;
// } // comment.multiline //
// .highlight .cp {
//   color: #859900;
// } // comment.preproc //
// .highlight .c1 {
//   color: #586e75;
// } // comment.single //
// .highlight .cs {
//   color: #859900;
// } // comment.special //
// .highlight .gd {
//   color: #2aa198;
// } // generic.deleted //
// .highlight .ge {
//   font-style: italic;
//   color: #93a1a1;
// } // generic.emph //
// .highlight .gr {
//   color: #dc322f;
// } // generic.error //
// .highlight .gh {
//   color: #cb4b16;
// } // generic.heading //
// .highlight .gi {
//   color: #859900;
// } // generic.inserted //
// .highlight .go {
//   color: #93a1a1;
// } // generic.output //
// .highlight .gp {
//   color: #93a1a1;
// } // generic.prompt //
// .highlight .gs {
//   font-weight: bold;
//   color: #93a1a1;
// } // generic.strong //
// .highlight .gu {
//   color: #cb4b16;
// } // generic.subheading //
// .highlight .gt {
//   color: #93a1a1;
// } // generic.traceback //
// .highlight .kc {
//   color: #cb4b16;
// } // keyword.constant //
// .highlight .kd {
//   color: #268bd2;
// } // keyword.declaration //
// .highlight .kn {
//   color: #859900;
// } // keyword.namespace //
// .highlight .kp {
//   color: #859900;
// } // keyword.pseudo //
// .highlight .kr {
//   color: #268bd2;
// } // keyword.reserved //
// .highlight .kt {
//   color: #dc322f;
// } // keyword.type //
// .highlight .ld {
//   color: #93a1a1;
// } // literal.date //
// .highlight .m {
//   color: #2aa198;
// } // literal.number //
// .highlight .s {
//   color: #2aa198;
// } // literal.string //
// .highlight .na {
//   color: #555;
// } // name.attribute //
// .highlight .nb {
//   color: #b58900;
// } // name.builtin //
// .highlight .nc {
//   color: #268bd2;
// } // name.class //
// .highlight .no {
//   color: #cb4b16;
// } // name.constant //
// .highlight .nd {
//   color: #268bd2;
// } // name.decorator //
// .highlight .ni {
//   color: #cb4b16;
// } // name.entity //
// .highlight .ne {
//   color: #cb4b16;
// } // name.exception //
// .highlight .nf {
//   color: #268bd2;
// } // name.function //
// .highlight .nl {
//   color: #555;
// } // name.label //
// .highlight .nn {
//   color: #93a1a1;
// } // name.namespace //
// .highlight .nx {
//   color: #555;
// } // name.other //
// .highlight .py {
//   color: #93a1a1;
// } // name.property //
// .highlight .nt {
//   color: #268bd2;
// } // name.tag //
// .highlight .nv {
//   color: #268bd2;
// } // name.variable //
// .highlight .ow {
//   color: #859900;
// } // operator.word //
// .highlight .w {
//   color: #93a1a1;
// } // text.whitespace //
// .highlight .mf {
//   color: #2aa198;
// } // literal.number.float //
// .highlight .mh {
//   color: #2aa198;
// } // literal.number.hex //
// .highlight .mi {
//   color: #2aa198;
// } // literal.number.integer //
// .highlight .mo {
//   color: #2aa198;
// } // literal.number.oct //
// .highlight .sb {
//   color: #586e75;
// } // literal.string.backtick //
// .highlight .sc {
//   color: #2aa198;
// } // literal.string.char //
// .highlight .sd {
//   color: #93a1a1;
// } // literal.string.doc //
// .highlight .s2 {
//   color: #2aa198;
// } // literal.string.double //
// .highlight .se {
//   color: #cb4b16;
// } // literal.string.escape //
// .highlight .sh {
//   color: #93a1a1;
// } // literal.string.heredoc //
// .highlight .si {
//   color: #2aa198;
// } // literal.string.interpol //
// .highlight .sx {
//   color: #2aa198;
// } // literal.string.other //
// .highlight .sr {
//   color: #dc322f;
// } // literal.string.regex //
// .highlight .s1 {
//   color: #2aa198;
// } // literal.string.single //
// .highlight .ss {
//   color: #2aa198;
// } // literal.string.symbol //
// .highlight .bp {
//   color: #268bd2;
// } // name.builtin.pseudo //
// .highlight .vc {
//   color: #268bd2;
// } // name.variable.class //
// .highlight .vg {
//   color: #268bd2;
// } // name.variable.global //
// .highlight .vi {
//   color: #268bd2;
// } // name.variable.instance //
// .highlight .il {
//   color: #2aa198;
// } // literal.number.integer.long //

// Obtained via https://github.com/StylishThemes/Syntax-Themes/tree/master/pygments/css-other
// Replaced #01a252 with #009900
// Replaced #b5e4f4 with #074d64

/*

    Name:       Base16 3024 Light
    Author:     Jan T. Sott

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.highlight .hll { background-color: #d6d5d4 }
.highlight  { background: #f7f7f7; color: #090300 }
.highlight .c { color: #807d7c } /* Comment */
.highlight .err { color: #db2d20 } /* Error */
.highlight .k { color: #a16a94 } /* Keyword */
.highlight .l { color: #e8bbd0 } /* Literal */
.highlight .n { color: #090300 } /* Name */
.highlight .o { color: #074d64 } /* Operator */
.highlight .p { color: #090300 } /* Punctuation */
.highlight .cm { color: #807d7c } /* Comment.Multiline */
.highlight .cp { color: #807d7c } /* Comment.Preproc */
.highlight .c1 { color: #807d7c } /* Comment.Single */
.highlight .cs { color: #807d7c } /* Comment.Special */
.highlight .gd { color: #db2d20 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #090300; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #009900 } /* Generic.Inserted */
.highlight .gp { color: #807d7c; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #074d64; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #a16a94 } /* Keyword.Constant */
.highlight .kd { color: #a16a94 } /* Keyword.Declaration */
.highlight .kn { color: #074d64 } /* Keyword.Namespace */
.highlight .kp { color: #a16a94 } /* Keyword.Pseudo */
.highlight .kr { color: #a16a94 } /* Keyword.Reserved */
.highlight .kt { color: #fded02 } /* Keyword.Type */
.highlight .ld { color: #009900 } /* Literal.Date */
.highlight .m { color: #e8bbd0 } /* Literal.Number */
.highlight .s { color: #009900 } /* Literal.String */
.highlight .na { color: #01a0e4 } /* Name.Attribute */
.highlight .nb { color: #090300 } /* Name.Builtin */
.highlight .nc { color: #fded02 } /* Name.Class */
.highlight .no { color: #db2d20 } /* Name.Constant */
.highlight .nd { color: #074d64 } /* Name.Decorator */
.highlight .ni { color: #090300 } /* Name.Entity */
.highlight .ne { color: #db2d20 } /* Name.Exception */
.highlight .nf { color: #01a0e4 } /* Name.Function */
.highlight .nl { color: #090300 } /* Name.Label */
.highlight .nn { color: #fded02 } /* Name.Namespace */
.highlight .nx { color: #01a0e4 } /* Name.Other */
.highlight .py { color: #090300 } /* Name.Property */
.highlight .nt { color: #074d64 } /* Name.Tag */
.highlight .nv { color: #db2d20 } /* Name.Variable */
.highlight .ow { color: #074d64 } /* Operator.Word */
.highlight .w { color: #090300 } /* Text.Whitespace */
.highlight .mf { color: #e8bbd0 } /* Literal.Number.Float */
.highlight .mh { color: #e8bbd0 } /* Literal.Number.Hex */
.highlight .mi { color: #e8bbd0 } /* Literal.Number.Integer */
.highlight .mo { color: #e8bbd0 } /* Literal.Number.Oct */
.highlight .sb { color: #009900 } /* Literal.String.Backtick */
.highlight .sc { color: #090300 } /* Literal.String.Char */
.highlight .sd { color: #807d7c } /* Literal.String.Doc */
.highlight .s2 { color: #009900 } /* Literal.String.Double */
.highlight .se { color: #e8bbd0 } /* Literal.String.Escape */
.highlight .sh { color: #009900 } /* Literal.String.Heredoc */
.highlight .si { color: #e8bbd0 } /* Literal.String.Interpol */
.highlight .sx { color: #009900 } /* Literal.String.Other */
.highlight .sr { color: #009900 } /* Literal.String.Regex */
.highlight .s1 { color: #009900 } /* Literal.String.Single */
.highlight .ss { color: #009900 } /* Literal.String.Symbol */
.highlight .bp { color: #090300 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #db2d20 } /* Name.Variable.Class */
.highlight .vg { color: #db2d20 } /* Name.Variable.Global */
.highlight .vi { color: #db2d20 } /* Name.Variable.Instance */
.highlight .il { color: #e8bbd0 } /* Literal.Number.Integer.Long */
