/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
/* prompt-regular - latin */
@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/prompt-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/prompt-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/prompt-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/prompt-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/prompt-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/prompt-v10-latin-regular.svg#Prompt') format('svg'); /* Legacy iOS */
  }
  
  /* prompt-700 (Bold) - latin */
  @font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/prompt-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/prompt-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/prompt-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/prompt-v10-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/prompt-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/prompt-v10-latin-700.svg#Prompt') format('svg'); /* Legacy iOS */
  }
  
  /* prompt-800 (ExtraBold) - latin */
  @font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/prompt-v10-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/prompt-v10-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/prompt-v10-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/prompt-v10-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/prompt-v10-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/prompt-v10-latin-800.svg#Prompt') format('svg'); /* Legacy iOS */
  }
  